/foodie-api/target/
/foodie-common/target/
/foodie-mapper/target/
/foodie-pojo/target/
foodie-api/src/test/
foodie-common/src/test/
foodie-mapper/src/test/
foodie-pojo/src/test/
foodie-service/src/test/
/foodie-sso/target/
/rabbit-consumer/target/
/foodie-service/target/
/rabbit-consumer/src/test/
/rabbit-parent/rabbit-api/src/test/
/rabbit-parent/rabbit-common/src/test/
/rabbit-parent/rabbit-core-producer/src/test/
/rabbit-parent/rabbit-task/src/test/
/rabbit-productor/target/
/rabbit-productor/src/test/
